
/*--------------------*/
:root{
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --active-color:#404BBF;
    --akcent-color:#4D5AE5;
    --only-white:#ffffff;
    --button-bacgraund:#F4F4FD;
    --button-border:#E7E9FC;
    --icon-border:#8E8F99;
    --set-gap: 24px;
    --icon-color:#AFB1B8;
    --icon-green: #31D0AA;

    }
h1, h2, h3, h4, ul, p{
    margin:0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
}

/* all pages */
body{
    font-family: "Roboto", sans-serif;
    color:var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
   }
.conteiner{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }

.section{
    padding: 120px 0;
}


/* Header */
.header{
    padding: 24px 0;
    border-bottom: 1px solid var(--button-border);
}

.header .conteiner{
    display: flex;
}

.logo{
    margin-right: 76px;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.33;
    color: var(--akcent-color);
    padding: 0;
}

.logo-end{
    color: var(--title-text-color)
}   

.fulnav{
    display: flex;   
}

.nav{
    list-style: none;
    display: flex; 
    justify-content: space-between;
}

.nav-margin{
    margin-left: 40px;
}

.link{
    font-weight: 500;
    color: var(--title-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.link:hover, .link:focus{
    color: var(--akcent-color);
}

.address{
    margin-left: auto;
   }

.address-list{
    list-style: none;
     display: flex;
}

.contacts{
    font-style: normal;
    color: var(--primary-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.contacts:hover, .contacts:focus{
    color: var(--akcent-color);
}

/* Header end */


/* Footer */

.footer{
    background-color:var(--title-text-color);
    padding: 100px 0;
}
.footer .conteiner{
    display: flex;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: var(--akcent-color);
   
}
.logo-footer-end{
    color: var(--button-bacgraund);
}
.footer-text{
    margin-top: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-border);
    width: 264px;
   
}
.footer-media{
    padding: 0 120px;
}
.media-text{
    color: var(--only-white);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
}
.footer-action{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0 24px;
   
}

.footer-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}

.footer-button:hover, .footer-button:focus{
  
    background-color: var(--icon-green);}

.action-icon{
    width: 16px;
    height: 16px;
    fill: var(--button-bacgraund);
}


/* Studio */


.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;}

/* Section Hero */

.hero{
    background-color:var(--title-text-color); 
    padding: 188px 0;
    text-align: center;
    background-image: 
    linear-gradient(to top, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg); 
    background-size:cover;
}


.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--only-white);
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 48px auto;
    width: 496px;

    
}
.order{
    background-color:var(--akcent-color);
    color: var(--only-white);
    border: 0px solid transparent;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    
     
  }
.order:hover, .order:focus{
    background-color:var(--active-color);
    }


 /* Section1 Advantages*/
.advantages{
    padding: 120px 0 0 0;
}

.advantages-list{
    display: flex;
    list-style: none; 
    flex-wrap: wrap;
    gap: 0 24px;
}

.button-icon{
    padding: 0;
    border: none; 
    border-radius: 4px;
    background-color: var(--button-bacgraund);
}


.icon{
    width: 264px;
    height: 112px;
}

.advantages-item{
 flex-basis: calc((100% - var(--set-gap)*3)/4);

}




.advantages-title-small{
   font-weight: 500;
   font-size: 20px;
   color: var(--title-text-color);
   letter-spacing: 0.02em;
   line-height: 1.2;
   margin: 8px 0;}
 
.advantages-text{
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* Sektion2 Cards*/


.card-list{
    display: flex;
    list-style: none; 
    flex-wrap: wrap;
}

.card-item{
   flex-basis: calc((100% - var(--set-gap)*2)/3);
}
.card-item:not(:first-child){
   margin-left: var(--set-gap);}


/* Section3 Team */

.team{
   background: var(--button-bacgraund);
}
.team-list{
    display: flex;
    list-style: none; 
    flex-wrap: wrap;
    gap: 0 24px;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.team-title-small{
   font-weight: 500;
   font-size: 20px;
   color: var(--title-text-color);
   letter-spacing: 0.02em;
   line-height: 1.2;
   margin-top: 32px;
   text-align: center;
}

.team-text{
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
    margin: 8px 0;
    gap: 0 24px;
}

.team-cards{
    flex-basis: calc((100%- var(--set-gap)*3)/4);
    background-color: var(--only-white);
    padding-bottom: 32px;
    border-radius: 4px;
     
}

.action{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0 24px;
    padding: 0 16px;
}

.team-button{
    background-color:var(--akcent-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-button:hover, .team-button:focus{
  
    background-color: var(--active-color);}

.action-icon{
    width: 16px;
    height: 16px;
    fill: var(--button-bacgraund);
}
/* Section Customers */

.customers {
    padding: 130px 0 120px 0;
}
.customers-list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 0 24px;
    }
    .customers-button{
    border: 1px solid var(--icon-border);
    border-radius: 4px;
    width: 168px;
    height: 88px;
     display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--only-white);
    color: var(--icon-color);
}

.customers-button:hover, .customers-button:focus{
    color: var(--active-color);
    border: 1px solid var(--active-color);}
  
.customers-icon{
    width: 104px;
    height: 56px;
    fill: currentColor;
}

  
 


/* portfolio */
.portfolio{
    padding: 96px 0 120px 0;
}

.filter-list{
    display: flex;
    list-style: none;
    justify-content:center;
    margin-bottom: 72px;
    gap: 0 var(--set-gap);
}

.button-filter{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background: var(--button-bacgraund);
    border: 1px solid var(--button-border);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--akcent-color);
    padding: 12px 24px;
}


.button-filter:hover, .button-filter:focus{
    background: var(--akcent-color);
    color: var(--only-white);
    border-color: transparent;
}
.projects-list{
    display: flex;
    list-style: none; 
    flex-wrap: wrap; 
    gap: 48px 24px;
}

.projects{
     text-decoration: none;
}

.project-item{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.project-type{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.project-text{ 
    border-left: 1px solid var(--button-border);
    border-right: 1px solid var(--button-border);
    border-bottom: 1px solid var(--button-border);
    padding: 32px 16px;
}

